<!-- <ul *ngIf="countries$ | async as countries">
  <li *ngFor="let country of countries">
    {{country.name.common}}
  </li>
</ul> -->

<app-search
  (changeSearchText)="getFilteredCountries($event)"
  (changeSearchRegion)="filterByRegion($event)"
></app-search>
<div class="scroll-container">
  <ng-container *ngIf="filteredCountries$ | async as countries">
    <div class="grid-container">
      <app-country
        *ngFor="let country of countries"
        [country]="country"
        (click)="routeTo(country.cca3)"
      ></app-country>
    </div>
  </ng-container>
</div>
