@if(country$ | async; as country){
<h1>
    {{country.name.common}}
</h1>
<ul>
    <li attr-name="native-name">{{country.name.official}}</li>
    <li attr-name="population">{{country.population}}</li>
    <li attr-name="region">{{country.region}}</li>
    <li attr-name="sub region">{{country.subregion}}</li>
    <li attr-name="capital">{{country.capital}}</li>
    <li attr-name="top level domain">{{country.tld}}</li>
    <li attr-name="currencies">{{country.currencies | json}}</li>
    <li attr-name="languages">{{country.languages | json}}</li>
    <li attr-name="border countries">{{country.borders}}</li>

</ul>
}