:host {
  height: 100%;
  display: block;
  padding-bottom: 2rem;
  box-shadow: var(--box-shadow);
  background-color: var(--elements);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--elements);
}

h2 {
  margin-bottom: 1rem;
}

.image {
  background-size: cover; /* This will make sure the background image covers the entire container */
  background-position: center; /* This will center the background image */
  width: 100%; /* Set the width of the container */
  height: 20dvh; /* Set the height of the container */
}

main {
  padding: 0.5rem;
}

li::before {
  content: attr(data-title) ':';
  text-transform: capitalize;
  margin-right: 1ch;
  font-weight: bold;
}
