:host {
    height: 100%;
    display: block;
}

.card {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    height: 100%;
}

img {
    width: 100%;
    height: 150px;
}

main {
    padding: .5rem;
}