<div class="card">
  <header>
    <!-- <img [src]="country.flags?.png" [alt]="'Flag of ' + country.name?.common" /> -->
    <div
      class="image"
      [style.backgroundImage]="'url(' + country.flags?.png + ')'"
    ></div>
  </header>
  <main>
    <h2>{{ country.name?.common }}</h2>
    <ul>
      <li data-title="population">{{ country.cca3 }}</li>
      <li data-title="population">{{ country.population }}</li>
      <li data-title="region">{{ country.region }}</li>
      <li data-title="capital">
        <span>
          {{ country.capital }}
        </span>
      </li>
    </ul>
  </main>
</div>
