<div class="card">
  <header>
    <!-- <img [src]="country.flags?.png" [alt]="'Flag of ' + country.name?.common" /> -->
    <div
      class="image"
      [style.backgroundImage]="'url(' + country.flags?.png + ')'"
    ></div>
  </header>
  <main>
    <h2>{{ country.name?.common }}</h2>
    <ul>
      <li data-title="population">{{ country.population }}</li>
      <li data-title="region">{{ country.region }}</li>
      <li data-title="capital">
        @for(capital of country.capital; track capital){
        <span>
          {{ capital
          }}<ng-container *ngIf="(country?.capital)!.length > 1"
            >,</ng-container
          >
        </span>
        }
      </li>
    </ul>
  </main>
</div>
