/* You can add global styles to this file, and also import other style files */

/* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)

- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)

- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */

body.light {
  --bkg-color: hsl(0, 0%, 98%);
  --text-input: hsl(0, 0%, 52%);
  --text-color: hsl(200, 15%, 8%);
  --elements: hsl(0, 0%, 100%);
}

body {
  --bkg-color: hsl(207, 26%, 17%);
  --text-input: hsl(209, 23%, 22%);
  --text-color: hsl(0, 0%, 100%);
  --elements: hsl(209, 23%, 22%);
}

@font-face {
  font-family: NunitoSans;
  src: url(https://fonts.google.com/specimen/Nunito+Sans);
}

body {
  background-color: var(--bkg-color);
  color: var(--text-color);
  font-family: 'Nunito Sans', sans-serif;
}
